# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Output of the Go coverage tool, specifically when used with LiteIDE
*.cov

# Logs
*.log

# Config files
.env

# Build directory
/build/
dist/
bin/
rabbitmq
add_rabbitmq_queue

# Dependency directories (Go modules and vendor)
vendor/
Gopkg.lock
Gopkg.toml

# Docker
docker-compose.override.yml
*.tar
*.tar.gz
Dockerfile.*

# macOS specific files
.DS_Store

# Editor and IDE files
.idea/
.vscode/
*.swp

# Temporary files created during editing
*~
*.tmp

# GoLand/JetBrains IDE files
*.iml

# Temporary files created by Go commands
*.test
*.exe

# Test result files
testresult.txt
testoutput.txt
